<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 1.导入spring的坐标spring-context -->

    <!-- 2.配置bean -->
    <!-- id：bean的名称 -->
    <!-- class：bean的类型 -->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">

        <!-- property标签配置当前bean的属性 -->
        <!-- name：表示与哪一个具体的属性有关 -->
        <!-- ref：表示参照哪一个类 -->
        <property name="bookDao" ref="bookDao"/>
    </bean>

</beans>